.popup__button{
  box-sizing: border-box;
  display: block;
  height: 50px;
  width: 358px;
  border: 0;
  color: #ffffff;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21.78/18);
}
.popup__button:hover{
  opacity: .8;
}
@media screen and (max-width: 845px){
  .popup__button{
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: calc(16.94/14);
  }
}