.header__logo:active{
  opacity: 0;
}
.header__logo:hover{
  opacity: .6;
}
@media screen and (max-width: 845px){
  .header__logo{
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
