.profile__name{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  line-height: calc(48/42);
  max-width: 294px;
  
}
@media screen and (max-width: 970px){
  .profile__name{
    font-size: 27px;
    line-height: calc(32.68/27);
  }
}