.close-button{ 
  box-sizing: border-box;
  background-image: url(../../images/close.svg);
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.close-button:focus{
  outline: none;
}
.close-button:hover{
  opacity: .6;
}
@media screen and (max-width: 845px){
  .close-button{
    width: 26px;
    height: 26px;
  }
}